*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
header{
  position: fixed;
  top: 0;
  width: 100%;
  background-color: black;
  
}
nav{
  display: flex;
  float: right;
}

ul {
  list-style-type: none;
  display: flex;
}

li {
   padding: 10px;
    
  }
  
   li  {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  .zagre{
    background: url("a.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height:100%;
    min-height: 100vh;
    z-index: -1;
    margin-top: -25px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }



 h1{
    font-size: 70px;
    margin: 0 auto;
    margin-right:480px;
    text-align: flex-start;
  }
  p{
    padding:20px;
    position:relative;
  }


.t{
   margin:90px;
  text-align: center;
  font-size: 20px;
  position: relative;
 margin-top: -1px;
 background-color: blue;
 margin: 0 auto;
}
 

.b a {
  margin-left: 80px;
}

img{
  
  margin-right: 995px;
}

