.a{
    text-align: center;
  
        
}

.b{
    text-align: center;
    padding: 50px;
    
}

.i{
    text-align: center;
    
}

span{
    color: yellow;
}

.t{
    text-align: center;
}

.l{ 
    text-align: center;
    color:red;
    border:1px solid orangered ;
    
}

img{
    border:5px solid orangered ;
}