.nav, a{
    background-color: black;
    color: white;
    padding: 8px;
    justify-content:space-between;
    display:flex;
}

*{
    margin: 0;
}

a{
    justify-content: space-between;
}

.foot{
    display: flex;
    justify-content: space-around;
    background-color:darkorchid;
    padding: 30px;
    margin-top: 500px;
    color: white;
}


